PUMPPORTAL_API_KEY=
APP_TOKEN=
DISCORD_ALERT_WEBHOOK_URL=
PUMPPORTAL_WALLET_ADDRESS=nXKa9jR8rPvoAAr4c82awiznLDFjSqyG9zk6ivBMcP6
PUMPPORTAL_LOW_BALANCE_SOL=0.025
PUMPPORTAL_BALANCE_CHECK_SECONDS=300
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
WATCHED_WALLETS=

PAPER_BUY_USD=5
CONSENSUS_WINDOW_SECONDS=90

DEBUG_MODE=false
LIVE_TRADING=false

DB_PATH=/data/pumpcopilot.db
